{%extends 'base.html'%}
{%block content%}
<div>Menu</div><br>

<div>You are visiting a website that allows you to be both a reader or
a writer. Explore your options by checking most popular articles,
find articles that match your interest or submit your own article.
To stay organised use our inspirations boards, where you can save
your beloved pieces.</div><br>

<div><a href="">Top 10 most popular articles</a> </div>
<div><a href="">Find articles for you!</a> </div>
<div><a href="">Login or Register</a></div>
{%endblock%}



